body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width:100vw;
    box-sizing: border-box;
    
  }
  
  .home {
    text-align: center;
    height: 100%;
    width:100vw;
    
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
  }
  
  .hero {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
    height:50vh;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 20px;
    
  }
  .product-list1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 20px;
    background-image: url('https://img.freepik.com/free-photo/arrangement-black-friday-shopping-carts-with-copy-space_23-2148667047.jpg?size=626&ext=jpg&ga=GA1.1.1525579097.1667655354&semt=ais');
    background-size: cover;
    width:100vw;
    height:100%;
  }
  
  .product {
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100vw;
  }
  .card1{
    height:40vh;
    width:15vw;
  }
  .card11:hover{
    border:5px solid white;
  }
  .card12:hover{
    border:5px solid white;
  }
  .card13:hover{
    border:5px solid white;
  }
  .card14:hover{
    border:5px solid white;
  }
  .card15:hover{
    border:5px solid white;
  }
  .card16:hover{
    border:5px solid white;
  }
  .card17:hover{
    border:5px solid white;
  }
  .card18:hover{
    border:5px solid white;
  }

  .image1{
        height: 30vh;
        width:15vw;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
  }
  .cssbuttons-io-button {
    background: #a370f0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
  
.images-align{
  display: flex;
  flex-direction: row;
  padding:20px;
  margin:0px;
  justify-content: space-around;
}

 .home-images{
  padding:0px;
  height:30vh;
  width:15vw;
  border-radius: 10px;
  border-color: #2a0458;
  justify-content: space-around;
 } 
 .btn-imag-style{
    border-radius: 25px;
    padding:10px;
    justify-content: space-around;

 }
 .container{
    height:30vh;
    width:25vw;
    background-color: aquamarine;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    overflow: hidden;
}
.body{
   background-image:"https://img.freepik.com/free-vector/luxury-background-with-golden-particles-background_1035-17344.jpg?size=626&ext=jpg&ga=GA1.1.1919713829.1702352362&semt=ais";
   background-size: cover;
   width:100vw;
   height:100vh;
   overflow: hidden;
   position:fixed;
}
.bg-container{
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    overflow: hidden;
}
.button{
    height:4vh;
    width:5vw;
}
  .navbar{
    background-color: #d9a7c7;
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .navlinks{
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .button-design{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav-text{
    font-size: 30px;
    padding: 10px;
    list-style-type: none;
  }
.prod-card{
   display: flex;
   flex-direction:row;
}
.svgimage{
  padding-left:10px;
  margin:10px;
}
.svgimages{
  padding:10px;
  display: flex;
  justify-content: center;
}