.container{
    height:60vh;
    width:25vw;
    background-color: aquamarine;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
}
.body{
   background-image:"https://img.freepik.com/free-vector/luxury-background-with-golden-particles-background_1035-17344.jpg?size=626&ext=jpg&ga=GA1.1.1919713829.1702352362&semt=ais";
   background-size: cover;
   width:100vw;
   height:100vh;
}
.bg-container{
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
}
.button{
    height:4vh;
    width:5vw;
}
  .navbar{
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .navlinks{
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .button-design{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav-text{
    font-size: 30px;
    padding: 10px;
    list-style-type: none;
  }
